[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vtk = "==8.2.0"
PyQt5 = "*"
numpy = "==1.20.2"
pyqt5-tools = "==5.15.2.3.0.2"

[dev-packages]
pytest = "==6.2.3"

[requires]
python_version = "3.8"
